body{
    font-family: Arial, sans-serif;
    margin: 20px;
}
div {
    text-align: center;
    padding: 10px;
    background-color: silver;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

article{
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    box-sizing: border-box;

}

h2{
    color: blue;
}


p{
    color: lightslategray;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: silver;
    border: none;
    cursor: pointer;
}


.modal {
    display: none; /* Добавьте это свойство, чтобы скрыть модальные окна */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
